<div class="am-option-group">
  <div class="am-option-group__header">
    <span class="am-option-group__header__icon"></span>
    <strong class="am-option-group__header__title">{{ header }}</strong>
  </div>
  <form class="am-option-group__form">
    <div *ngFor="let opt of options" class="am-option-group__option">
      <input
        #input
        class="am-option-group__option__checkbox"
        type="checkbox"
        [checked]="opt.value"
      />
      <label class="am-option-group__option__label">
        <am-rating-stars
          *ngIf="opt.rating"
          [rating]="opt.rating"
        ></am-rating-stars>
        <span *ngIf="opt.label" class="am-option-group__option__label__text">{{
          opt.label
        }}</span>
      </label>
    </div>
  </form>
</div>
