$color-coral-orange: #dd5d00;
$color-daisy-yellow: #ffb200;
$color-sky-blue: #076eaa;
$color-deep-blue: #183d7c;
$color-dark-blue: #00256d;
$color-dirty-white: #f4f4f4;
$color-bright-white: #ffffff;

$font-almundo: 'Nunito Sans', sans-serif;
