@import 'src/styles/variables';

.am-filter {
  &__header {
    color: $color-sky-blue;

    &__star-icon {
      padding-left: 16px;
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
      vertical-align: center;
      margin-right: 14px;
      background-color: $color-sky-blue;
      mask: url(/assets/icons/filters/star.svg) no-repeat center;
      -webkit-mask: url(/assets/icons/filters/star.svg) no-repeat center;
    }
  }
}
