:host {
  .header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .main-container {
    margin-top: 80px;
    height: calc(100% - 80px);
    padding: 24px;

    .sidebar {
      width: 350px;
    }

    .main {
      width: 100%;
    }
  }
}
